.results-container {
    padding: 10px;
}

.caption {
    color: #999999;
    text-transform: uppercase;
    font-size: small;
    margin-bottom: 10px;
}

.results-bar {
    border: 1px solid #444444;
    padding: 10px;
    background-color: white;
}

.result {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.result .title {
    font-weight: bold;
}

.result .path {
    color: grey;
    font-style: italic;
}
